/*------- service card css --------*/

.card1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    /* height:300%; */
    margin-top: 10%
}

.desp {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
}

.outerCard {
    width: 43%;
    height: 96%;
}

.innerCard {
    width: 100%;
    margin-top: -18%;
    margin-left: -17%;
    height: 92%;
    padding: 0px 0px 0px 4px;
}

.serviceCss {
    display: flex;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    /* height: 1%; */
    /* height: 30%; */
    margin-top: 6%;
}

.textCart {
    margin-top: 4%;
    bottom: auto;
    text-align: center;
}

.serviceInfo {
    text-align: center;
}

.nextLink {
    margin-top: 5%;
    text-align: center;
}

.serviceCards {
    display: flex;
    /* width: 128%; */
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: -4%;
}

.signin-align {
    font-size: inherit;
}

.register-text {
    font-size: inherit;
}

/*------------------ registerComponent-------- */

.service-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.registerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register {
    display: flex;
    width: 58%;
    justify-content: space-evenly;
}

.register-carts {
    height: auto;
    width: 79%;
    margin-top: 2%;
}

.Rbutton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cartButton {
    margin-top: -5%;
    margin-left: 49%;
}

.email-text {
    width: 42%;
    margin-right: 6%;
}

.register-Name {
    margin-top: 1%;
}

.field-align {
    width: 38%;
}

.fundoo-text {
    font-size: 25px;
}

/*-------------------signin Component-----------------*/

.signinCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 100vh
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.button-signin {
    margin-right: 65%;
    margin-top: -1%;
}

.login-button {
    margin-left: 48%;
}

.signin-cards {
    background: lightgrey;
    height: 100%;
    width: 100%;
}

/*--------------------dashboardComponent---------------------*/

.dashboard-appbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-div1 {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.fundo-image {
    width: 65%;
}

.fundo-text {
    padding: 16px 150px 1px 1px;
    font-size: 20px;
    width: 14%;
}

.menuicon {
    width: 12%;
    padding: 1px 0px 0px 0px
}

.fundo-image-div {
    width: 19%;
}

.searchbar {
    display: flex;
    width: 40%;
    background-color: #f1f2f3;
}

.appbar-div2 {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.icon-button {
    width: 100%;
}

.refreshIcon {
    animation: spin 4s linear infinite;
    color: #5f6368;
}

.listview-css {
    width: 19%;
}

.refreashIcon {
    padding: 10px 1px 1px 1px;
    width: 16%;
}

/* @-moz - keyframes spin {
    50 % {
        -transform: rotateY(90deg);
    }
} */

.profileContent {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 100%;
}

.profilePaper {
    width: 20rem;
}

/*--------------------------------noteCardComponent-------------*/

.noteComponent {
    display: flex;
    justify-content: center;
}

.note-card {
    display: flex;
    width: 37%;
    justify-content: space-between;
}

/* .createText-align{
  display: flex;
  justify-content: space-between;
} */

.icons {
    display: flex;
    justify-content: space-between;
}

.inside-card-div {
    display: flex;
    justify-content: center;
}

.inner-card {
    display: flex;
    width: 37%;
    padding: 1px 1px 7px 1px;
}

.inner-note {
    width: 100%;
}

.inner-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 24rem;
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.dashboardnote {
    /* margin-top: 10%; */
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 9%;
}

/*--------------------getNoteComponent-----------*/

#noteList {
    width: 77%;
    height: auto;
    margin-left: 11%;
}

.card-note {
    width: 29%;
    padding-bottom: 22px;
    height: fit-content;
}

.card-note:hover .align-icons {
    visibility: visible
}

.Cardscss {
    margin-top: 5%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px;
    padding: 6px;
}

.getNotes-align {
    display: flex;
    justify-content: right;
}

.email-css {
    display: flex;
    /* justify-content: flex-end; */
}

.align-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 9%;
    visibility: hidden;
}

.update-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.getnote-Card {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.get-notes {
    /* justify-content: center; */
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 3%;
}

.button {
    margin-right: 553%;
}

#transitionLeft {
    margin-left: 8%;
}

/* .dialog-css {
    width: 60%;
} */

/* .reminder-chip {
    max-width: max-content;
} */

/* .appBar {
    margin-left: 48%;
}


/* .loginCard {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 62%;
    height: 100%;
    /* overflow: hidden; */

/* overflow: hidden; */

/* } */

*/
/*--------------forgotComponent----------------*/

.forgot-Card {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 42%;
    margin-top: 7%
}

/* .get-notes {
   
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 3%;
} */

/*------------drawerComponent-------------------------*/

.menuIcons {
    display: flex;
    padding: 0px 24px 1px 11px;
}

.editLabels {
    background-color: white;
    margin-top: 12%;
    display: flex;
    width: 24%;
}

.labeldata {
    display: flex;
    justify-content: space-between;
    margin-top: -7%;
}

.addeditLabel {
    background-color: #f1f2f3;
    /* width: 201px; */
    height: 360px;
    overflow: scroll;
    width: 94%;
    box-shadow: 1px 4px 17px 1px;
}

.icon-text {
    padding: 1px 1px 1px 3px;
}

.label-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.labelnotes {
    display: flex;
    width: 59%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*--------------------color Component---------*/

.color-css {
    flex-wrap: nowrap;
}

.color-poper {
    width: 40%;
}

/*---------------------label Component----------------*/

/* .card-note:hover .align-icons {
    visibility: visible
} */

/* .dia-div {
    width: 36%;
} */

/* .titleDescInput {
    width: 100%
} */

.label-css {
    display: flex;
    justify-content: space-around;
}

.addLabel {
    background-color: #f1f2f3;
    /* width: 201px; */
    height: 205px;
    overflow: scroll;
    width: 100%;
}

.addLabel-css {
    display: flex;
    justify-content: center;
}

/*-------------------------archive component--------*/

.archivenotes {
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    width: 54%;
    flex-wrap: wrap;
}

.getArchiveAlign {
    display: flex;
    justify-content: center
}

/*-------------------------Trash component--------*/

.trashNotes {
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    width: 54%;
    flex-wrap: wrap;
}

.trashNotesAlign {
    display: flex;
    justify-content: center
}

/*-------------------------reminder component--------*/

.saveDate {
    padding: 1px 1px 1px 160px;
}

.checklist {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*-----------------------draft Component------------*/

.editor-css {
    width: 83%;
    /* display: flex; */
    padding: 184px 9px 9px 99px;
    margin-top: -14%
}

.titleData {
    margin-top: 10%;
    padding: 1px 1px 1px 99px;
    width: 83%;
}

.close-css {
    display: flex;
    justify-content: space-between;
}

.question-css {
    border: double darkslategray;
}

.afterQuestion {
    /* margin-top: 6%; */
    padding: 1px 1px 1px 99px;
    width: 83%;
}

.draftButton {
    text-align: end;
    padding: 1px 128px 1px 1px;
}

.draft-icons {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.divider-css {
    box-shadow: 1px 3px 5px 0px grey;
}

.like-css {
    padding: 0px 234px 1px 0px;
    display: flex;
}

.localstorageData {
    display: flex;
    padding: 1px 1px 16px 126px;
    margin-top: 2%;
}

/*--------------------------draft dashboardComponent--------------*/

.draftDashboard-div1 {
    display: flex;
    width: 16%;
    justify-content: space-between;
}

.draftDashboard-div2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Avatar-draft {
    display: flex;
    width: 48%;
    justify-content: inherit;
}

/*--------------------------shoppingComponent-----------------*/

.fundoo-button {
    margin-top: 5%;
    margin-left: -17%;
}

.shoppingProcess {
    display: flex;
    justify-content: center;
}

.main-shopping-div {
    margin: 6rem 3rem;
}

.shopping-inner-div-1 {
    padding: 1rem 13rem;
}

.shopping-inner-div-2 {
    padding: 1rem 9rem;
    display: flex;
    justify-content: space-evenly;
}

.divider-div {
    padding: 1rem 9rem;
}

.shopping-button {
    display: flex;
    justify-content: flex-end;
    width: 86%;
}

.shoppingCard {
    width: 12%;
    height: fit-content;
    padding: 6px;
}

.description-align {
    width: 46%;
    padding: 1px 1px 1px 29px;
}

.prise-tag {
    width: 10%;
    margin-top: -2%;
}

.shoppingButton {
    border: double;
    color: darkgray;
}

.addressCard {
    width: 27%;
    height: 23vh;
    margin-top: 2%;
}

.cardandpaymentcss {
    display: flex;
}

/*--------------------------- @media Query---------------------*/

@media screen and (max-width: 1000px) {
    .getnote-Card {
        width: 76%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-note {
        width: 29%;
        padding-bottom: 22px;
        height: fit-content;
    }
    .card-note:hover .align-icons {
        visibility: visible
    }
}

@media screen and (max-width: 800px) {
    .getnote-Card {
        width: 93%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.get-notes {
    /* justify-content: center; */
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    /* .getnote-Card {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } */
    .menuicon {
        width: 24%;
        padding: 1px 0px 0px 0px
    }
}

@media all and (max-width: 700px) {
    .getnote-Card {
        display: flex;
        justify-content: center;
        width: 81%;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .note-card {
        display: flex;
        width: 65%;
        justify-content: space-between;
        margin-top: 7%;
    }
    .inner-card {
        display: flex;
        width: 78%;
        padding: 1px 1px 7px 1px;
        margin-top: 15%;
    }
    .get-notes {
        /* justify-content: center; */
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }
    .card-note {
        width: 100%;
        padding-bottom: 22px;
    }
    .Cardscss {
        margin-top: 5%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px;
    }
    .fundo-image {
        width: 76%;
    }
    .menuicon {
        width: 26%;
        padding: 1px 0px 1px 21px;
    }
    .inner-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        width: 18rem;
        color: rgba(0, 0, 0, 0.54);
        font-size: 20px;
    }
    .labelnotes {
        display: flex;
        width: 65%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .fundo-text {
        padding: 16px 150px 1px 11px;
        font-size: 16px;
        width: 13%;
    }
    .menuicon {
        width: 26%;
        padding: 1px 1px 1px 42px;
    }
    /* .listview-css {
        width: 50%
    } */
    .inner-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        width: 14rem;
        color: rgba(0, 0, 0, 0.54);
        font-size: 20px;
    }
    .note-card {
        display: flex;
        width: 78%;
        padding: 1px 1px 7px 1px;
        margin-top: 15%;
    }
    .trashNotes {
        margin-top: 22%;
        display: flex;
        justify-content: space-between;
        width: 69%;
        flex-wrap: wrap;
    }
    .archivenotes {
        margin-top: 22%;
        display: flex;
        justify-content: space-between;
        width: 69%;
        flex-wrap: wrap;
    }
    .refreashIcon {
        padding: 10px 4px 1px;
        width: 24%;
    }
    .outerCard {
        width: 37vw;
        height: 94%;
    }
    .innerCard {
        width: 39vw;
        margin-top: -22%;
        margin-left: -17%;
        height: 91%;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        /* height: 1%; */
        /* height: 30%; */
        margin-top: 18%;
    }
}

/*--------------------------------service Card media query----------*/

@media only screen and (width: 768px) {
    .outerCard {
        width: 39vw;
        height: 29vh;
        margin-top: 20%;
    }
    .innerCard {
        width: 38vw;
        margin-top: -18%;
        margin-left: -10%;
        height: 26vh;
        font-size: 22px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        /* height: 1%; */
        /* height: 30%; */
        /* margin-top: 18%; */
    }
    .nextLink {
        margin-top: 10%;
        text-align: center;
    }
    .serviceInfo {
        text-align: center;
        font-size: 19px;
    }
    .textCart {
        margin-top: 4%;
        bottom: auto;
        text-align: center;
        font-size: 25px;
    }
    .signin-align {
        font-size: x-large;
    }
}

@media only screen and (width: 1024px) {
    .outerCard {
        width: 39vw;
        height: 29vh;
        margin-top: 20%;
    }
    .innerCard {
        width: 38vw;
        margin-top: -18%;
        margin-left: -10%;
        height: 26vh;
        font-size: 31px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .nextLink {
        margin-top: 10%;
        text-align: center;
    }
    .serviceInfo {
        text-align: center;
        font-size: 24px;
    }
    .textCart {
        margin-top: 4%;
        bottom: auto;
        text-align: center;
        font-size: 33px;
    }
    .signin-align {
        font-size: xx-large;
    }
}

@media screen and (width: 320px) {
    .outerCard {
        width: 43vw;
        height: 38vh;
        /* margin-top: 20% */
    }
    .innerCard {
        width: 40vw;
        margin-top: -23%;
        margin-left: -3%;
        height: 28vh;
        font-size: 12px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 0%;
        font-size: 13px;
    }
    .nextLink {
        margin-top: 9%;
        text-align: center;
    }
}

@media screen and (width: 360px) {
    .outerCard {
        width: 43vw;
        height: 36vh;
        /* margin-top: 20% */
    }
    .innerCard {
        width: 40vw;
        margin-top: -22%;
        margin-left: -3%;
        height: 33vh;
        font-size: 14px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        font-size: 13px;
    }
    .nextLink {
        margin-top: 9%;
        text-align: center;
    }
}

@media screen and (width: 411px) {
    .outerCard {
        width: 43vw;
        height: 36vh;
        /* margin-top: 20% */
    }
    .innerCard {
        width: 40vw;
        margin-top: -22%;
        margin-left: -3%;
        height: 33vh;
        font-size: 16px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        font-size: 13px;
    }
    .nextLink {
        margin-top: 9%;
        text-align: center;
    }
    .textCart {
        margin-top: 4%;
        bottom: auto;
        text-align: center;
        font-size: 19px;
    }
}

@media screen and (width: 375px) {
    .outerCard {
        width: 43vw;
        height: 36vh;
    }
    .innerCard {
        width: 40vw;
        margin-top: -22%;
        margin-left: -3%;
        height: 33vh;
        font-size: 14px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        font-size: 13px;
    }
    .nextLink {
        margin-top: 9%;
        text-align: center;
    }
    .textCart {
        margin-top: 4%;
        bottom: auto;
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (width: 414px) {
    .outerCard {
        width: 43vw;
        height: 36vh;
    }
    .innerCard {
        width: 40vw;
        margin-top: -22%;
        margin-left: -3%;
        height: 33vh;
        font-size: 16px;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        font-size: 13px;
    }
    .nextLink {
        margin-top: 9%;
        text-align: center;
    }
    .textCart {
        margin-top: 4%;
        bottom: auto;
        text-align: center;
        font-size: 17px;
    }
}

/*------------------register card media query----------*/

@media screen and (width: 360px) {
    .cartButton {
        margin-top: -13%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 7%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .email-text {
        width: 92%;
        margin-right: 1%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 44%;
    }
}

@media screen and (width: 411px) {
    .cartButton {
        margin-top: -13%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 14%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .email-text {
        width: 93%;
        margin-right: 1%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 45%;
    }
}

@media screen and (width: 320px) {
    .cartButton {
        margin-top: -15%;
        margin-left: 65%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: -6%;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 14%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .email-text {
        width: 93%;
        margin-top: -5%;
        margin-right: 1%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 45%;
    }
}

@media screen and (width: 375px) {
    .cartButton {
        margin-top: -13%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 7%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .email-text {
        width: 92%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 44%;
    }
}

@media screen and (width: 414px) {
    .cartButton {
        margin-top: -13%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 14%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .email-text {
        width: 93%;
        margin-right: 1%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 45%;
    }
}

@media screen and (width: 375px) {
    .cartButton {
        margin-top: -13%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: -4%;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 13%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 14%;
    }
    .email-text {
        width: 92%;
        margin-right: 1%;
    }
    .register-Name {
        margin-top: 1%;
    }
    .field-align {
        width: 44%;
    }
    .register-text {
        font-size: inherit;
    }
}

@media screen and (width: 768px) {
    .cartButton {
        margin-top: -9%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 7%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 9%;
    }
    .email-text {
        width: 76%;
        margin-right: 19%;
    }
    .register-Name {
        margin-top: 1%;
        font-size: 31px;
    }
    .field-align {
        width: 46%;
    }
    .register-text {
        font-size: inherit;
    }
    .fundoo-text {
        font-size: 36px;
    }
}

@media screen and (width: 1024px) {
    .cartButton {
        margin-top: -6%;
        margin-left: 66%;
    }
    .service-main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .registerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 4px 5px 5px 4px;
    }
    .register {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .register-carts {
        height: auto;
        width: 100%;
        margin-top: 7%;
    }
    .Rbutton {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 9%;
    }
    .email-text {
        width: 76%;
        margin-right: 19%;
    }
    .register-Name {
        margin-top: 1%;
        font-size: 36px;
    }
    .field-align {
        width: 46%;
    }
    .register-text {
        font-size: inherit;
    }
    .fundoo-text {
        font-size: 44px;
    }
}

/*--------------------sign in component media query---------*/

@media screen and (width: 360px) {
    .signinCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vh;
        height: 100vh
    }
    .main-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .button-signin {
        margin-right: 43%;
        margin-top: -1%;
        width: 50%;
    }
    .login-button {
        margin-left: 58%;
    }
    .signin-cards {
        background: lightgrey;
        height: 100%;
        width: 100%;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 7%;
        font-size: 17px;
    }
    .fundoo-text {
        font-size: 24px;
    }
    .innerCard {
        width: 40vw;
        margin-top: -21%;
        margin-left: -3%;
        height: 31vh;
        font-size: 14px;
    }
    .outerCard {
        width: 44vw;
        height: 34vh;
        margin-top: 11%;
    }
}

@media screen and (width: 411px) {
    .innerCard {
        width: 40vw;
        margin-top: -23%;
        margin-left: -3%;
        height: 28vh;
        font-size: 14px;
    }
    .outerCard {
        width: 44vw;
        height: 31vh;
        margin-top: 20%;
    }
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 13%;
        font-size: 15px;
    }
}

@media screen and (width: 320px) {
    .serviceCss {
        display: flex;
        width: 100%;
        justify-content: center;
        /* margin-top: 13%; */
        font-size: 15px;
    }
    .innerCard {
        width: 40vw;
        margin-top: -23%;
        margin-left: -3%;
        height: 28vh;
        font-size: 12px;
    }
    .outerCard {
        width: 44vw;
        height: 31vh;
        margin-top: 20%;
    }
    .signinCard {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vh;
        height: 100vh
    }
    .main-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .button-signin {
        margin-right: 43%;
        margin-top: -3%;
        width: 50%;
    }
    .login-button {
        margin-left: 58%;
    }
    .fundoo-text {
        margin-top: 2%;
        font-size: 20px;
    }
}